<div id="root">
  <nav class="brandBox">
    <div class="container">
      <div class="row my-3 d-flex align-items-center">
        <h1 class="h2 col-4 m-0">El aroma mágico</h1>
      </div>
    </div>
  </nav>
  <div class="container">
    <app-cafe-list></app-cafe-list>
  </div>
  <div class="brandBox" id="footer">
    <div class="container">
      <div class="row my-3 d-flex align-items-center">
        <div class="col">
          <span class="d-block">Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico</span>
        </div>
      </div>
    </div>
  </div>
</div>
